{% include 'head.j2' %}

<a class="github-fork-ribbon" href="https://github.com/jesssullivan/CocktailDirectory" data-ribbon="Fork me on Github!" title="@ GitHub...">Contribute</a>
<div class="topnav" >
    <a href="mailto:jess@sulliwood.org">Email</a>
    <a href="https://ithacawatershed.com/">Watershed</a>
    <a href="http://thedownstairsithaca.com/">Downstairs</a>
    <a href="https://kittenspit.io/">Find Jess</a>
    <a href="https://kittenspit.io/">Visit Jess</a>
</div>